@import 'overattached2';

.inline-block {
  display: inline-block;
}
.inline-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    margin-right: 30px;
  }
}

.faded {
  color: $faded-color;
}

.float-right {
  float: right;
}